$primary: rgb(165, 71, 71);
$favourite: rgba(255, 241, 42, 0.9);
$add: #ece4e2;
/**index.html content***/
.content {
  margin-top: -90px;
  .content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 256px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-decoration: none;
    color: white;
    .content-cover {
      background-color: rgba(165, 71, 71, 0.8);
      height: 256px;
      -webkit-transition: background-color 0.5s;
      transition: background-color 0.5s;
    }
    &.active,
    &:hover,
    &:focus {
      .content-cover {
        background-color: rgba(238, 227, 76, 0.9);
      }
    }
  }
  .four-sides {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .zindex--1 {
    z-index: -1;
  }

  .content-text {
    font-size: 24px;
    font-family: Palatino;
    font-weight: bold;
  }

  .content-img {
    height: 256px;
    position: absolute;
    z-index: -2;
    right: -10px;
    left: -10px;
    top: -1px;
    bottom: -10px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: -webkit-filter 0.5s;
    transition: -webkit-filter 0.5s;
    transition: filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s;
  }
}

.content-box.active,
.content-box:hover,
.content-box:focus {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.content-box.active .content-img,
.content-box:hover .content-img,
.content-box:focus .content-img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.intro-img-break {
  margin-bottom: -48px;
  .intro-img {
    margin-top: -24px;
    min-height: 250px;
  }
}

.intro-text p {
  font-size: 18px;
}
/*flower.html css*/

.flower-category {
  font-size: 20px;
}

/**navbar***/
.navq {
  margin-right: -25px;
  .nav-img {
    margin-left: -20px;
  }
  .navbar-nav {
    .active a {
      font-weight: unset !important;
    }
  }
  .togbtn {
    font-size: 18px;
  }
  .cartbtn {
    font-size: 17px;
    padding-right: -10px;
  }
}
/**cart.html**/
.cart-img {
  height: 110px;
  min-width: 110px;
}

.total {
  border-bottom: 1px solid rgb(204, 68, 68);
}
.cart-msg-title {
  background-color: $primary;
}
/**checkout2.html**/
.cardNumberinput {
  position: relative;
}
.card-icon {
  position: absolute;
  top: 180px;
  right: 60px;
}
.method {
  margin-top: -18px;
  img {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .navq {
    margin-right: 0px;

    .nav-img {
      margin-left: 0px;
    }
  }

  .threeline {
    margin-left: 0px;
  }

  .content-text {
    font-size: 20px;
  }

  .intro-img-break {
    margin-bottom: 10px;
    .intro-img {
      margin-top: 0px;
      min-height: 250px;
    }
  }
  .addOrder {
    margin-left: -10px;
  }
  .itemName {
    margin-left: -10px;
  }
  .cart-img {
    height: 80px;
  }
  .divider {
    border-top: 1px solid $primary;
    width: 100%;
    margin-top: 15px;
  }
  .o-summary {
    background-color: white !important;
    color: $primary !important;
  }

  .card-icon {
    position: absolute;
    top: 163px;
    right: 35px;
  }
  .cart-msg-title {
    background-color: $add;
  }
  .socialmedialog {
    border-right: 2px solid rgb(241, 241, 241);
  }
}
