/**login.html **/
.signin {
  position: relative;
  input {
    text-indent: 30px;
    height: 50px;
    padding-left: 15px;
  }
}

.man-icon,
.key-icon {
  position: absolute;
  left: 18px;
  top: 16px;
  border: none;
}

.quantity {
  text-indent: 13px;
}
